/* .App {
  text-align: center;

} */

body{
  animation: transitionIn 0.75s;
}

.app-bar-portfolio{
  background-color: black;
display: flex;
flex-direction: row;
    justify-content: space-around;
}
.port-div{
  display: flex;
  gap: 80px;
}
.letter-div-det{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.letter-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.portfolio{
  color: rgb(226, 78, 108);
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.letter{
  color: white;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}
.letter:active{
  color: rgb(201, 65, 92);
}
.letter::after{
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  transition: width 0.3s;
}
.letter:hover::after{
  width: 50%;
}
.letter:hover{
  color: rgb(201, 65, 92);
}


.home{
   min-height: 90.72vh;
   background-color: rgb(18, 18, 46);
width: 100%;
   display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.home-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.home-details{
  display: flex;
  flex-direction: column;
}

.home-img-div{
  display: flex;
}

.home-img{
  height: 400px;
  width: 400px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.hello-home{
  color: white;
font-size: 30px;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
margin: 0;
margin-bottom: 5px;
}

.name-home{
  color: white;
  font-size: 60px;
  line-height: 80px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

.wrapper .dynamic-txts{
line-height: 50px;
height: 50px;
overflow: hidden;
padding-left: 0px;
}

.dynamic-txts li{
  color: rgb(235, 70, 103);
  list-style: none;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: 0px;
  animation: slide 12s steps(2) infinite;
 
}

@keyframes slide{
  100%{
    top: -100px;
  }
}

.dynamic-txts li {
position: relative;
}

.dynamic-txts li ::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(18, 18, 46);
  border-left: 2px solid rgb(235, 70, 103);
  animation: typing 3s steps(25) infinite;
  }

  @keyframes typing{
    40%,50%{
  left: calc(70% + 30px);
    }
    100%{
      left: 0;
    }
    }
  
/* .dev{
  color: rgb(235, 70, 103);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
font-weight: 500;
margin: 0;
position: relative;
} */

/* .dev ::after{
content: "";
position: absolute;
left: 0;
height: 100%;
width: 100%;
border-left: 2px solid rgb(235, 70, 103);
animation: typing 3s steps(10);
} */

.pro-con-button{
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.button{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 45px;
  width: 170px;
  border: 1px solid aquamarine;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 2px;
  text-decoration: none ;
}

.button:hover{
  color: black;
  background-image: linear-gradient(to right top, #4be5de, #45e9cc, #54ecb5, #6fed99, #8eec7a);
  box-shadow: 0px 0px 9px 0px #45e9cc;
  border: 0;
}



.about-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;

}

.contact-me{
  color: #4dc9b2;
  margin: 0;

}


.about-div{
  /* background-image: linear-gradient(rgba(15, 15, 15, 0.3),transparent),url("https://wallpapercave.com/wp/HdDSbSr.jpg");
   background-repeat: no-repeat;
   background-size: cover; */
  background-color: rgb(14, 13, 13);
  min-height: 84.25vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  padding-top: 60px;
}
.about-name{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  line-height: 23px;
  font-size: 23px;
}
.about-details{
  line-height: 30px;
  font-size: 18px;
 
}


.skills-dev{
  background-color: rgb(14, 13, 13);
  min-height: 87.5vh;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
justify-content: flex-start;
padding-top: 30px;
padding-left: 400px;
padding-right: 400px;
gap: 50px;
}
.skill-text{
color: white;
font-family: 'Open Sans', sans-serif;
letter-spacing: 1.5px;
font-size: 23px;
padding-top: 30px;
margin-bottom: 1px;

}
.div-per{
  display: flex;
  align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-text-per{
  color: white;
  font-size: 15px;
padding-top: 30px;
margin-bottom: 1px;
}

.img-size{
height: 150px;
width: 150px;
object-fit: cover;
border-radius: 5.5rem;
opacity: 0.8;
padding: 10px;
transition: all 0.5s;
}

.img-size:hover{
  opacity: 1;
  transform: scale(1.1);
}
.skills-data{
  color: white;
  font-size: 25px;
}


.logo-link-img{
  margin-top: 15px;
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 3rem;
  transition: all 0.3s;
}
.logo-link-img:hover{
  transform: scale(1.1);
}
.logo-img-div{
  display: flex;
  gap: 30px;
}

/* background: rgba(255, 255, 255, 0.05);
border-radius: 12px;
backdrop-filter: blur(55px); */

.project-div{
  background-color: rgb(3, 3, 3);
  min-height: 80.7vh;
  color: white;
 padding: 50px;
}
.div-flex{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}
.container{
  display: inline-grid;
  justify-content: space-evenly;
      align-items: center;
      justify-items: center;
  margin: 15px;
  cursor: pointer;
  border: rgba(128, 128, 128, 0.356) solid 3px;
}

.full-det{
  overflow: hidden;
  width: 450px;
  height: min-content;
  position: relative;
}

.details{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    opacity: 0;
    transition: opacity 0.25s;
}

.details:hover{
  opacity: 1;
}

.details > *{
transform: translateY(20px);
transition: transform 0.25s;
}

.details:hover > *{
  transform: translateY(0);
}

.details--blur{
backdrop-filter: blur(16px);
}

.user-pic{
  height: 360px;
  object-fit: cover;
  width: 450px;
  display: block;
}

.div-button{
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.project-name{
  margin: 0;
  padding: 5px;
  text-align: center;
}
.details-text{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}
.button-link{
background-color: #2c865f;
height: 45px;
width: 180px;
border-radius: 5px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
margin: 6px;
gap: 10px;
}

.project-name{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
}

.contact{
  background-color: black;
  min-height: 84.1vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 5px;
}


.frontend-link{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.contact-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.contact-div{
 display: flex;
 align-items: center;
 gap: 15px;
 padding: 5px;
}

.contact-div:hover{
background: rgba(255, 255, 255, 0.096);
border-radius: 10px;
backdrop-filter: blur(55px);
}


.gmail-img{
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.contact-img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 3rem;
}

.contact-name{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-decoration: none;
}

.github-link{
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  font-size: 18px;
}

.menu-icon{
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}

@media(max-width:1300px){
  .skills-dev{
  padding-left: 200px;
  padding-right: 200px;
  }
}

@media(max-width:1180px){

  .home-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
  }

  .home-img{
    height: 400px;
    width: 550px;
    border-radius: 0.5rem;
    object-fit: cover;
    
  }
  .about-div{
    padding-top: 60px;
    padding-left: 45px;
    padding-right: 15px;
    min-height: 100vh;
  }
  .about-details{
    line-height: 30px;
    font-size: 18px;
  
  }

  .skills-dev{
    padding-left: 120px;
    padding-right: 120px;
    min-height: 100vh;
    }
    .home{
      min-height: 100vh;
      background-color: rgb(18, 18, 46);
      
   }
   .project-div {
    min-height: 100vh;  
}

}




@media(max-width:700px){
  .home{
  padding: 10px;
  }
  .app-bar-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.letter-div-det{
  display: none;
}

.menu-icon{
  display: block;
}
.letter-div{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.dynamic-txts li{
  font-size: 25px;
font-weight: 300;
  }
.letter{
  margin: 0;
}

 .name-home{
  color: white;
  font-size: 30px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.home-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
 
}

.home-img{
  height: 300px;
  width: 300px;
  border-radius: 0.5rem;
  object-fit: cover;
  
}

/* .dev{
  color: rgb(197, 62, 89);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
font-weight: 300;
margin-top: 6px;
  margin-bottom: 10px;
} */
.pro-con-button{
  display: flex;
  gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}
.button{
  margin: 0;
}
.skills-dev{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 600px;
  height: 100vh;
  }

  .project-div {
    min-height: 100vh;  
}

    .contact{
      padding: 25px;
    }

    .gmail-img{
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
    
    .contact-img{
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 3rem;
    }
    
    .contact-name{
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 1.5px;
      font-size: 15px;
    }

    .full-det{
      overflow: hidden;
      width: 350px;
      border: gray solid 3px;
      height: min-content;
    }
    
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-20deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
  }
}


 