.App {
  /* text-align: center; */
  background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url("https://www.innovwebsolutions.com/wp-content/themes/twentyseventeen/assets/images/mid3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.app-bar-portfolio{
display: flex;
flex-direction: row;
    justify-content: space-around;
}
.port-div{
  display: flex;
  gap: 80px;
}
.letter-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
   

}

.portfolio{
  color: rgb(206, 75, 101);
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.letter{
  color: white;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}
.letter::after{
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  transition: width 0.3s;
}
.letter:hover::after{
  width: 50%;
}
.letter:hover{
  color: rgb(201, 65, 92);
}

.home{
 position: absolute;
 bottom: 35%;
 left: 17%;
}

.hello-home{
  color: white;
font-size: 30px;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
margin: 0;
margin-bottom: 5px;
}
.name-home{
  color: white;
  font-size: 60px;
  line-height: 80px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

.dev{
  color: rgb(235, 70, 103);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
font-weight: 500;
margin: 0;
}

.pro-con-button{
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.button{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 45px;
  width: 170px;
  border: 1px solid aquamarine;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 2px;
}

.button:hover{
  color: black;
  background-image: linear-gradient(to right top, #4be5de, #45e9cc, #54ecb5, #6fed99, #8eec7a);
  box-shadow: 0px 0px 9px 0px #45e9cc;
  border: 0;
}

.contact{
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.email-mobile-div{
margin-left: 300px;
}

.contact-me{
  color: #4dc9b2;
  margin-top: 60px;
  margin-left: 300px;
}

.contact-me-heading{
  color: rgb(219, 115, 136);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}
.contact-me-heading-det{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}

.about-div{
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}
.about-name{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  line-height: 23px;
  font-size: 23px;
}
.about-details{
  line-height: 23px;
  font-size: 18px;
}

.resume-link{
  color: rgb(218, 101, 124);
}
.skills-dev{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}
.img-div{
  margin-left: 300px;
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
}

.img-size{
height: 250px;
width: 250px;
object-fit: cover;
border-radius: 30rem;
}

.container{
  height: 400px;
  width: 400px;
  padding-left: 20px;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  backdrop-filter: blur(25px);
  transition: all 0.3s;
}
.container:hover{
  transform: scale(1.05);
}
.logo-link-img{
  margin-top: 15px;
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 3rem;
  transition: all 0.3s;
}
.logo-link-img:hover{
  transform: scale(1.1);
}
.logo-img-div{
  display: flex;
  gap: 30px;
}
.project-name{
  color: #4dc9b2;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;

}

@media(max-width:500px){
  .app-bar-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}
.letter-div{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.letter{
  margin: 0;
}
.home{
  position: absolute;
  bottom: 15%;
  left: 5%;
 }
 .name-home{
  color: white;
  font-size: 20px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.dev{
  color: rgb(197, 62, 89);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
font-weight: 300;
margin-top: 6px;
  margin-bottom: 10px;
}
.pro-con-button{
  display: flex;
  gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}
.button{
  margin: 0;
}
.contact-me{
  margin-left: 50px;
}
.email-mobile-div{
  margin-left: 50px;
  }

  .img-div{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
      flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

}